@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Add Employee</h1>

<form method="post" asp-action="Create">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" name="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" name="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" name="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DepartmentId" class="form-label"></label>
        @*      <select asp-for="CategoryId" name="CategoryId" class="form-control" asp-items="@ViewBag.Categories" >
        <option selected value="">-- Select Category --</option>

        </select> *@


        <select asp-for="DepartmentId" name="Department" class="form-control">
            <option selected value="">-- Select Department --</option>

            @foreach (var dept in ViewBag.Depts)
            {
                <option value="@dept.Id">@dept.Name</option>
            }


        </select>
    </div>



    <div class="mb-3">
        <label asp-for="JobId" class="form-label">Job</label>
        @*      <select asp-for="CategoryId" name="CategoryId" class="form-control" asp-items="@ViewBag.Categories" >
        <option selected value="">-- Select Category --</option>

        </select> *@


        <select asp-for="JobId" name="JobId" class="form-control">
            <option selected value="">-- Select Job --</option>

            @foreach (var dept in ViewBag.Jobs)
            {
                <option value="@dept.Id">@dept.Name</option>
            }


        </select>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>

</form>