@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>List Employee </h1>

<div class="container">
    <div class="text-end">

        <a asp-action="Create" class="btn btn-outline-primary">Add New</a>

    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {

                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Email</td>
                    <td>@product.Phone</td>
                    <td>@product.Address</td>
                    <td>@product.Department.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-Id="@product.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-Id="@product.Id" class="btn btn-outline-danger">Delete</a>
                    </td>


                </tr>

            }


        </tbody>
    </table>
</div>
